# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.c9/
.classpath
.idea
.project
.settings/
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

# Framework/Service-specific files
.angular
.nx
.postgresql
.redis
.fail2ban
.nginx-logs

# Build and dependency files
/dist
/node_modules
/out-tsc
/typings

# Logs and temporary files
/npm-debug.log
/testem.log
/tmp
/yarn-error.log

# Miscellaneous
.connect.lock
/coverage
/libpeerconnection.log
/sass-cache
*.launch
*.sublime-workspace