<div class="fixed inset-0 z-50 bg-black bg-opacity-50 flex items-center justify-center transition-opacity" (click)="closeModal()">
  <!-- Prevent click propagation to close when clicking inside the modal -->
  <div class="bg-white rounded-xl shadow-2xl max-w-lg w-full m-3 animate-fadeIn" (click)="$event.stopPropagation()">
    <div class="p-4 sm:p-7">
      <div class="flex justify-between items-center mb-4">
        <h3 class="block text-2xl font-bold text-gray-800">Willkommen bei Boardmasters</h3>
        <button type="button" (click)="closeModal()" class="flex justify-center items-center size-8 rounded-lg hover:bg-gray-100">
          <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
        </button>
      </div>
      
      <ui-loginform></ui-loginform>
    </div>
  </div>
</div>
